@using Poznamky.Models;
@model List<poznamka>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@using Microsoft.AspNetCore.Http;


    
@foreach (poznamka p in Model.Where(i => i.jmeno ==HttpContextAccessor.HttpContext.Session.GetString("jmeno") ))
{
   

if (p.dulezita_poznamka == true)
{
        <div style="border:Red solid 3px">

        <p>@p.Nadpis</p>
        <p>@p.Text</p>
        <p>@p.CasPridani</p> 
        <p><a href="/Poznamky/smazat">Smazaní poznámky</a></p>
        </div>



}


    else
    {

         <div>

            <p>@p.Nadpis</p>
            <p>@p.Text</p>
            <p>@p.CasPridani</p> 
            <p><a href="/Poznamky/smazat">Smazaní poznámky</a></p>

            <div style="padding-left: 1em; padding-right: 1em;">
                <section style=" border-top: rgb(0, 0, 0) solid 3px;"></section>
            </div>
     
        </div>
        
    }
}
